amqp==2.4.2
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
Django==2.2.1
django-haystack==2.8.1
django-redis==4.10.0
django-redis-sessions==0.6.1
django-tinymce==2.8.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
jieba==0.39
kombu==4.5.0
lxml==4.3.3
mutagen==1.42.0
parsel==1.5.1
Pillow==6.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pycryptodomex==3.7.2
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
python-alipay-sdk==1.10.0
pytz==2019.1
queuelib==1.5.0
redis==3.2.1
requests==2.21.0
Scrapy==1.6.0
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
Twisted==19.2.0
urllib3==1.24.3
vine==1.3.0
w3lib==1.20.0
Whoosh==2.7.4
zope.interface==4.6.0
